#people{
    padding: 30px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 100px 100px 30px 30px; 
    box-shadow: inset 0 0 15px rgba(255,255,255,0.1), 0 0 20px rgba(0,255,255,0.4);
    border: 2px solid rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: transform 0.3s;
    margin-bottom: 1rem;
}

.people-container{
    height: 400px;
    padding: 1.5rem;
   
}

#people:hover{
     transform: scale(1.03) translateX(5px);
    box-shadow: 0 0 30px rgba(0,255,255,0.6);
}

#people i:hover {
    color: orange;
}

